
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>CameraIP</title>

    <!-- Fontfaces CSS-->
    <link href="/Assets/css/font-face.css" rel="stylesheet" media="all">
    <link href="/Assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/Assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/Assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/Assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/Assets/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/Assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/Assets/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/Assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/Assets/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/Assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/Assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/Assets/css/theme.css" rel="stylesheet" media="all">

    <!-- Jquery JS-->
    <script src="/Assets/vendor/jquery-3.2.1.min.js"></script>


</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="/Assets/images/icon/logo-mta.jpg" alt="Monitor-Camera" style="width: 50px;"/>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active">
                            <a id="a_monitor" href="/Monitor_Camera/Index">
                                <i class="fas fa-sitemap"></i>Theo dõi camera
                            </a>
                        </li>
                        <li>
                            <a id="a_manage" href="/Manage/Index">
                                <i class="fas fa-table"></i>Quản lý camera
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">

            <!-- MAIN CONTENT-->
            <div class="main-content">
                @RenderBody()
            </div>
            <!-- END MAIN CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->

    </div>

    @RenderSection("jstest", required: false)
    @RenderSection("jsManage", required: false)
    @RenderSection("jsEdit", required: false)

    
    <!-- Bootstrap JS-->
    <script src="/Assets/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/Assets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS   -->
    <script src="/Assets/vendor/slick/slick.min.js"></script>
    <script src="/Assets/vendor/wow/wow.min.js"></script>
    <script src="/Assets/vendor/animsition/animsition.min.js"></script>
    <script src="/Assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/Assets/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/Assets/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/Assets/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/Assets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/Assets/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/Assets/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="/Assets/js/main.js"></script>

    <script type="text/javascript">
        $('#a_monitor').click(function () {
            $('ul').children().removeClass('active');
            $(this).parent().addClass('active');
        });

        $('#a_manage').click(function () {
            $('ul').children().removeClass('active');
            $(this).parent().addClass('active');
        })
    </script>
</body>

</html>
<!-- end document-->
