
@{
    ViewBag.Title = "Error401";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container" style="margin-left:150px;">
    <h1>401 Unauthorized</h1>
    <h2>Bạn không có quyền thực hiện tác vụ này !</h2>
</div>

